.movieCard{
    list-style: none;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.movieCard:hover .movieImage{
    opacity: 0.85;
    transform: scale(1.01);
    transition: ease 0.6s all;
}

.imgContainer{
    border-radius: 10px;
    overflow: hidden;
}

.movieImage{
    border-radius: 10px;
    background-color: azure;
    width: 230px;
    height: 345px;
}

@media (max-width: 659px){
    .movieImage{
        width: 90%;
        height: auto;
    }
}