.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    padding: 0 80px;
    gap: 40px;
    justify-content: center;
    text-align: center;
}

@media (max-width: 659px){
    .moviesGrid{
        grid-template-columns: 100%;
    }
}